In [ ]:
def salary(hour, per_hour):
          if hour > 8:
              return 'error! too many hours'

          total_income = hour * per_hour
          return total_income

print (salary(8,2))

16

In [ ]:
def your_salary():
            No_hour = (input ('How many hours have you worked: '))
            Dol_per_hour = (input ('What is your rate per hour: '))
            No_hour = int (No_hour)
            Dol_per_hour = int (Dol_per_hour)
            if No_hour > 40 :
              return 'Error!'

            else:
              total_salary= No_hour * Dol_per_hour
              return total_salary

              print (total_salary)

In [ ]:
your_salary()

How many hours have you worked: 40
What is your rate per hour: 100

4000

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function (fname):
    print (fname + " refsnes")

In [ ]:
my_function ("Salman")

Salman refsnes

In [ ]:
my_function ("Hello")

Hello refsnes

In [ ]:
def country ():
      country = input ('Where were you born: ')
      print ('You are from ', country)

In [ ]:
country()

Where were you born: England
You are from  England

In [ ]:
your_salary()

How many hours have you worked: 40
What is your rate per hour: 100

4000

In [ ]:
country()

Where were you born: United Kingdom
You are from  United Kingdom

In [ ]:
def my_function(food):
  for y in food:
    print(y)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(9)

Recursion Example Results
1
3
6
10
15
21
28
36
45

45

In [ ]:
def tri_recursion(k):
    if k > 0:
        result = k + tri_recursion(k - 1)
        print(result)
        return result
    else:
        return 0

print("\n\n\nRecursion Example Results:\n")
tri_recursion(9)

Recursion Example Results:

1
3
6
10
15
21
28
36
45

45

In [ ]:
def tri_recursiontwo():
    k = user_input
    if k > 0:
        result = k + tri_recursiontwo(k - 1)
        print(result)
        return result
    else:
        return 0

# Ask user for input
user_input = input("Enter a positive integer: ")

# Validate input and call the function
try:
    number = int(user_input)
    if number > 0:
        print("\nRecursion Example Results")
        tri_recursion(number)
    else:
        print("Please enter a positive integer greater than 0.")
except ValueError:
    print("Invalid input. Please enter a valid positive integer.")

Enter a positive integer: 0
Please enter a positive integer greater than 0.

In [ ]:
tri_recursiontwo()

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
def calculate_sum(n):
    """Calculate the sum of numbers from 1 to n recursively."""
    if n <= 0:
        return 0
    return n + calculate_sum(n - 1)

def print_sum_sequence(n):
    """Print the sequence of sums from n down to 1."""
    if n <= 0:
        print("Please enter a positive integer.")
        return

    for i in range(n, 0, -1):
        result = calculate_sum(i)
        print(f"Sum from 1 to {i}: {result}")

def run_sum_calculator():
    while True:
        user_input = input("\nEnter a positive integer (or 'q' to quit): ")

        if user_input.lower() == 'q':
            print("Thank you for using the sum calculator. Goodbye!")
            break

        try:
            number = int(user_input)
            print_sum_sequence(number)
        except ValueError:
            print("Invalid input. Please enter a valid positive integer.")

# Example usage
if __name__ == "__main__":
    print("Welcome to the Sum Calculator!")
    run_sum_calculator()

Welcome to the Sum Calculator!

Enter a positive integer (or 'q' to quit): 9
Sum from 1 to 9: 45
Sum from 1 to 8: 36
Sum from 1 to 7: 28
Sum from 1 to 6: 21
Sum from 1 to 5: 15
Sum from 1 to 4: 10
Sum from 1 to 3: 6
Sum from 1 to 2: 3
Sum from 1 to 1: 1

KeyboardInterrupt: Interrupted by user

In [ ]:
def calculate_and_print_sums(n):
    """Calculate and print the sum sequence from n down to 1."""
    if n <= 0:
        print("Please enter a positive integer.")
        return

    print(f"\nSum sequence for {n}:")
    for i in range(n, 0, -1):
        result = sum(range(1, i + 1))
        print(f"Sum from 1 to {i}: {result}")

# Example usage
if __name__ == "__main__":
    print("Welcome to the Sum Calculator!")

    # First use
    user_input = input("Enter a positive integer: ")
    try:
        number = int(user_input)
        calculate_and_print_sums(number)
    except ValueError:
        print("Invalid input. Please enter a valid positive integer.")

    print("\nYou can call the function again by using calculate_and_print_sums(n)")

Welcome to the Sum Calculator!
Enter a positive integer: 20

Sum sequence for 20:
Sum from 1 to 20: 210
Sum from 1 to 19: 190
Sum from 1 to 18: 171
Sum from 1 to 17: 153
Sum from 1 to 16: 136
Sum from 1 to 15: 120
Sum from 1 to 14: 105
Sum from 1 to 13: 91
Sum from 1 to 12: 78
Sum from 1 to 11: 66
Sum from 1 to 10: 55
Sum from 1 to 9: 45
Sum from 1 to 8: 36
Sum from 1 to 7: 28
Sum from 1 to 6: 21
Sum from 1 to 5: 15
Sum from 1 to 4: 10
Sum from 1 to 3: 6
Sum from 1 to 2: 3
Sum from 1 to 1: 1

You can call the function again by using calculate_and_print_sums(n)

In [ ]:
calculate_and_print_sums (1)

Sum sequence for 1:
Sum from 1 to 1: 1

In [ ]:
def calculate_and_print_sums():
    """Ask for a number, then calculate and print the sum sequence from that number down to 1."""
    while True:
        user_input = input("Enter a positive integer: ")
        try:
            n = int(user_input)
            if n <= 0:
                print("Please enter a positive integer.")
                continue

            print(f"\nSum sequence for {n}:")
            for i in range(n, 0, -1):
                result = sum(range(1, i + 1))
                print(f"Sum from 1 to {i}: {result}")
            break
        except ValueError:
            print("Invalid input. Please enter a valid positive integer.")

# Example usage
if __name__ == "__main__":
    print("Welcome to the Sum Calculator!")
    calculate_and_print_sums()
    print("\nYou can call the function again by using calculate_and_print_sums()")

Welcome to the Sum Calculator!
Enter a positive integer: 9

Sum sequence for 9:
Sum from 1 to 9: 45
Sum from 1 to 8: 36
Sum from 1 to 7: 28
Sum from 1 to 6: 21
Sum from 1 to 5: 15
Sum from 1 to 4: 10
Sum from 1 to 3: 6
Sum from 1 to 2: 3
Sum from 1 to 1: 1

You can call the function again by using calculate_and_print_sums()

In [ ]:
calculate_and_print_sums()

Enter a positive integer: 20

Sum sequence for 20:
Sum from 1 to 20: 210
Sum from 1 to 19: 190
Sum from 1 to 18: 171
Sum from 1 to 17: 153
Sum from 1 to 16: 136
Sum from 1 to 15: 120
Sum from 1 to 14: 105
Sum from 1 to 13: 91
Sum from 1 to 12: 78
Sum from 1 to 11: 66
Sum from 1 to 10: 55
Sum from 1 to 9: 45
Sum from 1 to 8: 36
Sum from 1 to 7: 28
Sum from 1 to 6: 21
Sum from 1 to 5: 15
Sum from 1 to 4: 10
Sum from 1 to 3: 6
Sum from 1 to 2: 3
Sum from 1 to 1: 1